.nav {
    @apply bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800
}
.wrapper {
    @apply flex flex-wrap justify-between items-center mx-auto max-w-screen-xl
}
.loginlogout{
    @apply text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800
}


.centerwrapper {
    @apply hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1
}

.centerul {
    @apply flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0
}

.tab {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700
}